@charset "utf-8";
/*E84388*/
body{
  font-family: 'Roboto', sans-serif;
	background-color: #FFED4B;
  height:633px;

	padding:0;
	margin:0;
}


header  {
	width:100%;
	height:700px;
	position: relative;
	background-size:  cover;
}

#encabezado h1{
  position: absolute;
  text-align: center;
  font-size:30px;
  color: rgb(107, 107, 107);
  padding: 0;
  margin-top: 50px;
  margin-left: 450px;
  margin-right: 380px;
}



img{
  width: 80px;
  height: auto;
  padding: 0;
  margin-left: 630px;
  margin-top: 100px;

}


#encabezado img{
  width: 150px;
  height: auto;
  padding: 0;
  margin-left: 600px;
  margin-top: 150px;
}

.botao2{
  color: #E84388;
  margin-bottom: 40px;
  position: absolute;
	top: 730px;
	left: 50%;
	transform: translate(-50%,50%);
}


.botao2:hover{
  background-color: white;
  color: #E84388;
}

form{
  width: 700px;
}

.formulario{
  margin-left: 350px;
  position: absolute;
  top: 90%;
	left: 25%;
	transform: translate(-50%,-50%);
}

.formulario label{
  color:  #E84388;
}

.grupo1{
  padding-bottom: 20px;
}

.botao1{
  color: #E84388;

}


.botao1:hover{
  background-color: #E84388;
  color: white;
}
