@charset "utf-8";

body{
  font-family: 'Roboto', sans-serif;
	background-color: #F4F4F4;
	padding:0;
	margin:0;
}

.jumbotron {
	background: #E84388;
	width:100%;
	height:663px;
  margin:0;
  padding:0;
  }

.jumbotron img{
  width: 40%;
  position: relative;
  top: 5%;
	left: 50%;
	transform: translate(-50%,5%);
}

.jumbotron p{
  margin-left: 70px;
  margin-right: 70px;
	font-size:25px;
	color: rgb(255, 255, 255);
  text-align: center;
}


.jumbotron a{
  margin: 8px;
}



.btn-light{
  color: #E84388;
  border-color: #fff ;
  border-width: medium;
  position: absolute;
	top: 80%;
	left: 38%;
	transform: translate(-50%,-50%);
}

.btn-light:hover{
  background-color: #FFED4B;
  color: #E84388;
  border-color: #FFED4B;
}

.btn-white{
  border-color: #fff ;
  border-width: medium;
  color: #fff;
  position: absolute;
	top: 80%;
	left: 52%;
	transform: translate(-50%,-50%);
}

.btn-white:hover{
  background-color: white;
  color: #E84388;

}


.frase{
  background: #FFED4B;
  margin:0;
  padding:150px;
  height:503px;
}

.frase p{
  margin-left: 70px;
  margin-right: 70px;
  font-size: 28px;
  color: #E84388;
  text-align: center;
}

.metodo{
  background-color: #E84388;
  width: auto;
  height: 590px;
  padding: 0;
  margin: 0;
}

.metodo h2{
  color: #FFED4B;
  padding-top: 90px;
  margin-left: 520px;
  font-size: 40px;
  padding-bottom: 20px;
}

.metodo p{
  color:#FFED4B;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;

}


.questionario{
  border-color: #fff ;
  border-width: medium;
  color: #fff;
  position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,50%);

}




.sobre{
  margin-top: 140px;
}

.sobre h2{
  color: #E84388;
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;

}

.sobre h3{
  color:#E84388;
  font-size: 25px;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;

}

.sobre p{
  margin-left: 100px;
  margin-right: 100px;
	font-size:25px;
	color: rgb(107, 107, 107);
  padding: 0;
  margin-bottom: 30px;
  text-align: justify;
}

.branco{
  height: 100px;
}

.branco p{
  font-size: 22px;
  padding-top:6px;
  margin-top: 25px;
  text-align: center;
  color: rgb(107, 107, 107);
}

.quadrado img{
  width: 100%;
  height: auto;
}

.info{
  height: 100px;

}

.info p{
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  color: rgb(107, 107, 107);
}



footer {
    width: 100%;
    height: 180px;
    position: relative;
    background-color: rgb(207, 207, 207);
    margin-top: 80px;

}


footer {
    display: block;
}

footer img{
    width: auto;
    height: 50px;
    margin-left: 620px;
    margin-top: 30px;

}

footer p{
  margin-top: 40px;
  margin-left: 570px;
  font-size: 18px;
  color: rgb(150, 150, 150);

}
