@charset "utf-8";

body{
  font-family: 'Roboto', sans-serif;
	background-color: #E84388;
	padding:0;
	margin:0;
}


header {
	background-color: #E84388;
	width:100%;
	height:633px;
	position: relative;
	background-size:  cover;
}

header img {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(60%,10%);
  height: 35%;
}

header h4{
  position: absolute;
  margin-left: 280px;
  margin-right: 280px;
	font-size:30px;
	color: #FFED4B;
  padding: 0;
  margin-top: 300px;
  text-align: center;
}

header p{
  position: absolute;
  margin-left: 280px;
  margin-right: 280px;
  font-size:30px;
  color: #fff;
  padding: 0;
  margin-top: 355px;
  text-align: center;


}

#encabezado a{
  position: absolute;
	top: 70%;
	left: 350px;
	transform: translate(-50%,-50%);
  font-weight: bold;
}

#encabezado p{
font-size: 20px;
margin-top: 355px;

}


.btn-group{
  position: absolute;
	top: 55%;
	left: 35%;
	transform: translate(-50%,-50%);
}

#encabezado h6{
  display: inline-block;
  padding: 18px;
  position: relative;
  margin-left: 20px;
	top: 430px;
	left: 325px;
	transform: translate(-50%,-50%);
  font-size: 15px;
  color: rgba(207, 207, 207);
}

h5{
  position: absolute;
  margin-left: 280px;
  margin-right: 280px;
  font-size:20px;
  color: rgb(207, 207, 207);
  padding: 0;
  margin-top: 340px;
  text-align: center;
}

.form-check{
  width: 650px;
  top:370px;
  left: 325px;
  font-size: 20px;
  color: rgba(90, 90, 90);
}


.btn-white{
  color: #fff;
  margin-top: 40px;
  position: absolute;
	top: 80%;
	left: 52%;
	transform: translate(-50%,-50%);
}


.btn-white:hover{
  background-color: white;
  color: #E84388;
}


#resposta{
  position: absolute;
	top: 57%;
	left: 35%;
	transform: translate(-50%,-50%);
  width: 30%;
  height: auto;
}

.quadrado{
  display: inline-block;
  position: relative;
	top: 57%;
	left: 28%;
	transform: translate(-50%,-50%);
  width: 100px;
  height: auto;
  margin-top: 400px;
  margin-left: 10px;
}


.btn-light{
  position: relative;
  margin-top: 80px;
}

.cinco{
  position: absolute;
	top: 67%;
	left: 34%;
	transform: translate(-50%,-50%);
  width: 27%;
  height: auto;
}

.contactos{
  position: absolute;
	top: 64%;
	left: 36%;
	transform: translate(-50%,-50%);
  width: 32%;
  height: auto;
}
